@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Regular.eot');
    src: url('TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTNorms-Regular.woff') format('woff'),
        url('TTNorms-Regular.ttf') format('truetype'),
        url('TTNorms-Regular.svg#TTNorms-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Bold.eot');
    src: url('TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTNorms-Bold.woff') format('woff'),
        url('TTNorms-Bold.ttf') format('truetype'),
        url('TTNorms-Bold.svg#TTNorms-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Bold.eot');
    src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('OpenSans-Bold.woff') format('woff'),
        url('OpenSans-Bold.ttf') format('truetype'),
        url('OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans.eot');
    src: url('OpenSans.eot?#iefix') format('embedded-opentype'),
        url('OpenSans.woff') format('woff'),
        url('OpenSans.ttf') format('truetype'),
        url('OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms-Medium.eot');
    src: url('TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTNorms-Medium.woff') format('woff'),
        url('TTNorms-Medium.ttf') format('truetype'),
        url('TTNorms-Medium.svg#TTNorms-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Regular.eot');
    src: url('FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('FiraSans-Regular.woff') format('woff'),
        url('FiraSans-Regular.ttf') format('truetype'),
        url('FiraSans-Regular.svg#FiraSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Bold.eot');
    src: url('FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('FiraSans-Bold.woff') format('woff'),
        url('FiraSans-Bold.ttf') format('truetype'),
        url('FiraSans-Bold.svg#FiraSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

